*{
    box-sizing: border-box;
}

:root{
    --backgroundBody: #110032;
    --textColor: white;
    
    --toggleButtonOn: #7400E4;
    --toggleButtonOff: #808080;
    --toggleButtonCircle: white;

    --includeBackground: #241442;

    --rangeButton: #7400E4;

    --linear-gradient1:#7944e7;
    --linear-gradient2:#8300ab;

    --buttonOff: #EFEFEF4D;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #110032;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Mono', monospace;
    color: var(--textColor);
}

.chkShowPass, .range, .boton, .selectChk{
    width: 80vw;
    max-width: 428px;
    height: 60px;
    border-radius: 10px;
}

.chkShowPass, .range, .selectChk{
    background-color: var(--includeBackground);
    font-size: 1.25rem;
}

.range{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.range__iteamRange{
    width: 72%;
    height: 3px;
    accent-color: var(--rangeButton);

}

.chkShowPass{
  
    font-family: inherit;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 16px;
    color: inherit;
}

.labelGen{
    display: block;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    letter-spacing: 4px;
}

.boton{
    background-color: var(--buttonOff);
    color: inherit;
    border: none;
    letter-spacing: 4px;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: not-allowed;
    transition: transform 0.2s;
}

 .boton:enabled{
    background:  linear-gradient(to right, var(--linear-gradient1), var(--linear-gradient2));
 }

.limits, .limits2{

    font-size: 1.25rem;
}



.limits{
    margin-right: 20px;
    font-size: 1.25rem;
}

.limits2{

    margin-left: 20px;
}

@media (hover: hover) {
    .boton:enabled:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
  }

  @media (hover: hover) {
    .selectChk__checkboxVisual:hover {
        cursor: pointer;

    }
  }

.selectChk{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--includeBackground);
    margin-bottom: 16px
}

 

.selectChk__checkboxVisual{
    display: flex;
    align-items: center;
    width: 75px;
    padding-left: 10px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--toggleButtonOff);
    transition: background-color .3s;
}

.selectChk__checkboxVisual::after{
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--toggleButtonCircle);
    transition: transform .3s;

}

.selectChk__span{
    font-size: 1.25rem;
}

.selectChk__checkbox:checked + .selectChk__checkboxVisual::after{
    transform: translateX(25px);
}
.selectChk__checkbox:checked + .selectChk__checkboxVisual{
    background-color: var(--toggleButtonOn);
}

@media screen and (max-width: 538px) {
    .chkShowPass {
        font-size: 0.9rem;;
    }

    .boton, .limits, .limits2, .labelGen, .selectChk__span{
        font-size: 1rem;;
    }
}